@import("../../../../stylus/index.styl");

.Info
    width 100vw
    height $HeaderHeight
    margin-top $HeaderHeight1
    position: absolute
    display: flex
    background-color $color-fff
    img 
        width $list-img
        height $listBtn-height
        margin: $padding $list-img $padding $margin

    input 
        width $homeInfowidth
        height $homeInfoHeight
        outline none 
        border none 
        background $color-ccc
        border-radius: $margin1
        text-align: center
        font-size: $h3
        position:relative
        // margin-right:$nav-img
        margin-top: $margin
        