@import("../../../../stylus/index.styl");
.box
    width 97%
    // background: $primary
    margin-left:$nav-margin
    margin-right:$nav-margin
.nav-ul
    width 100%
    height auto
    display flex
    justify-content space-between
    .li
        text-align: center
        color: $color-homenavtxt
        p
            color: $color-homenavtxt
            font-size:$h3
        .img
            background $color-libgc
            width $nav-img
            height $nav-img
            display: inline-block
            margin: none