// 登录按钮、头部
$primary=#FF9900

$color-fff=#fff

$color-ccc=#ccc
$color-333=#333

$color-blue=#aaccff

$color-999 = #999

$color-homenavtxt=#797778

$color-libgc=#F6F6F6

$colorRed=red

$colorFFB217=#FFB217

$colorFF7074 =#FF7074

$coloractive=#1D84A7

$color-000=#000


