$HeaderHeight=0.95rem
$HeaderHeight1=-0.95rem
// 左右margin
$margin=0.2rem
$margin3=0.3rem
$margin4=0.35rem
$margin-middle=0.5rem
$margin-loginTop=2.5rem

$h1=0.5rem
$h2=0.35rem
$h3=0.2rem
$h4=0.32rem
$h5=0.3rem
$h6=0.4rem
$h7=0.25rem

$formHeight=0.8rem
$formWidth=90%
$buttonHeight=0.8rem
$form-login=4rem
// 登录页的用户名密码span宽度
$margin1=0.1rem
$form-user=0.5rem

$borderWidth=0.01rem
$borderWidth2=0.02rem
$imgWidth=0.6rem

// Info
$homeInfoHeight=0.5rem
$homeInfowidth=2rem
$InfoMargin=3.5rem

$bannerHeight=3.8rem;

$padding=0.1rem;

$nav-img=1.5rem
$nav-margin=0.1rem

$list-img=2rem

$listBtn-width=1.8rem
$listBtn-height=0.7rem
$listBtn-height1=-0.7rem

$cateHeight=1rem
$borderLeft=0.05rem

$specswidth=5rem
$specswidth1=1rem
$specsHeight=0.6rem

$checkWidth=0.4rem

$shop-headerH=0.6rem

$shop-mainH=2rem
$imgmiddle=0.8rem

$goodsImgW=1.8rem

$addsubW=0.8rem
$addsubH=0.5rem

$footerimgW=0.35rem