@import("../../stylus/index.styl");
.Header
    width 100vw
    height $HeaderHeight
    background-color $primary
    position fixed
    left 0
    top 0
    z-index: 999
    .Header-back
        position absolute 
        left 0
        top: 0
        margin-left: $margin
        font-size: $h2
        color: $color-fff
        line-height: $HeaderHeight
    .Header-title
        width: 100vw
        height: $HeaderHeight
        text-align: center 
        line-height: $HeaderHeight
        font-size: $h2
        color:  $color-fff
        z-index: 1
    .Header-register
        position absolute 
        right 0
        top: 0
        margin-right $margin
        font-size: $h2
        color:  $color-fff
        line-height: $HeaderHeight

