@import('../../stylus/index.styl')

.addShop
    width $homeInfowidth
    height $HeaderHeight
    background $colorFFB217
    color $color-fff
    font-size: $h4
    line-height: $HeaderHeight
    text-align: center
    position absolute
    right 0
    bottom 0